<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebRailsSessionLoginTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <ul class= "global_nav">
  <% if logged_in? %>
    <li><a href="<%= tasks_path(current_user.id) %>" id="tasks-index">タスク一覧</a></li>
    <li><a href="<%= tasks_path(current_user.id) %>" id="new-task">タスクを登録する</a></li>
   <li><%= link_to 'アカウント', user_path(current_user.id), id: "my-account" %></li>
   <li><%= link_to 'ログアウト', session_path(current_user.id), method: :delete, id: "sign-out" %></li>
<% else %>
  <li><a href="<%= new_user_path %>" id="sign-up">アカウント登録</a></li>
  <li><a href="<%= new_session_path %>" id="sign-in">ログイン</a></li>
<% end %>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
